/*--pink: ff595e --
<!--yellow: ffca3a -->
<!--green: 8ac926 -->
<!--blue: 1982c4 -->
<!--purple: 6a4c93 -->*/
body {
  font-family: "Helvetica Neue", Arial;
}
div{
  margin: 15px 0px;
  display: flex;
  justify-content: center;
}
div.header{
  width: 100%;
  padding: 10px 1% 10px;
  background-color: #1982c4;
  top: 0;
  display: flex;
  align-items: center;
}
nav{
  margin: 0 30px 0 auto;
}
a{
  color: #ffca3a;
  text-decoration: None;
}
ul{
  list-style: None;
  margin: 0;
  display: flex;
}
li{
  color: #ffca3a;
  margin: 0 0 0 50px;
  font-size: 20px;
}
h1{
  color: #ffca3a;
  margin: 5px;
  padding: 15px;
}
caption{
  font-size: 25px;
  margin: 10px;
  padding: 0px 10px;
  color: #8ac926;
}
/* Table CSS idea cited from:
https://dev.to/dcodeyt/creating-beautiful-html-tables-with-css-428l */
table{
  border-radius: 10px;
  border-collapse: collapse;
  margin: 15px 25px;
  font-size: 0.9em;
  min-width: 600px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
th{
  background-color: #8ac926;
  color: #1982c4;
  text-align: left;
}
th, td{
  padding: 12px 20px;
}
tr:nth-of-type(even){
  background-color: #f3f3f3;
}
/* form CSS idea cited from:
https://form.run/media/contents/form-creation-tools/contact-form_design/
*/
form{
  max-width: 400px;
  margin: 20px;
  text-align: center;
  background-color: #f3f3f3;
  border-radius: 10px;
}
form.small{
  max-width: 600px;
  margin: 20px;
  text-align: center;
  background-color: #f3f3f3;
  border-radius: 10px;
  display: flex;
}
form{
  max-width: 400px;
  margin: 20px;
  text-align: center;
  background-color: #f3f3f3;
  border-radius: 10px;
}
form h2{
  text-align:center;
  padding: 10px 0 10px 0;
  background-color: #ff595e;
  border-radius: 10px;
  color: #ffca3a;
}
form h2.login_register{
  text-align:center;
  padding: 10px 0 10px 0;
  background-color: #6a4c93;
  border-radius: 10px;
  color: #8ac926;
}
h2 input{
margin: 5px 5px 5px auto;
border: None;
padding: 5px;
border-radius: 3px;
width: 10%;
}
input, select{
  margin: 5px;
  border: None;
  margin-bottom: 5px;
  padding: 15px 50px 10px;
  border-radius: 3px;
}
button{
  padding: 14px;
  margin-top: 15px;
  margin-bottom: 20px;
  background-color: #ff595e;
  border-radius: 10px;
  border: None;
  cursor: pointer;
  width: 60%;
  color: #ffca3a;
}
button.small{
  padding: 10px 10px;
  margin: 5px 30px;
  margin-bottom: 0px;
  background-color: #ff595e;
  border-radius: 10px;
  border: None;
  cursor: pointer;
  color: #ffca3a;
}
button.login_register{
  padding: 10px 10px;
  margin: 5px 30px;
  margin-bottom: 0px;
  background-color: #6a4c93;
  border-radius: 10px;
  border: None;
  cursor: pointer;
  color: #8ac926;
}
button:hover {
  background-color: #1982c4;
}