{% extends "layout.html" %}

{% block title %}
    Applying History
{% endblock %}

{% block main %}
<form action = "/history" method = "post" class = "small">
    <input type ="text" name = "search_companyname" required placeholder = "Company Name">
    <button class = "small" type = "submit">Search</button>
</form>
<div>
    <table>
      <caption>
        Applying History
      </caption>
      <tr>
        <th id = "history">Job ID</th>
        <th id = "history">Recorded Date</th>
        <th id = "history">Company Name</th>
        <th id = "history">Company URL</th>
        <th id = "history">Job Title</th>
        <th id = "history">Applied through</th>
        <th id = "history">Current Status</th>
        <th id = "history">Next Process</th>
        <th id = "history">Next Date</th>
      </tr>
      {% for row in rows %}
        <tr>
          <td id = "history">{{ row[0] }}</td>
          <td id = "history">{{ row[1] }}</td>
          <td id = "history">{{ row[2] }}</td>
          <td id = "history">{{ row[3] }}</td>
          <td id = "history">{{ row[4] }}</td>
          <td id = "history">{{ row[5] }}</td>
          <td id = "history">{{ row[6] }}</td>
          <td id = "history">{{ row[7] }}</td>
          <td id = "history">{{ row[8] }}</td>
        </tr>
      {% endfor %}
    </table>
    </div>
    <div>
    <form action = "/history" method = "post">
          <h2>Update Job ID <input type="text" value = "{{ rows[0][0] }}" name = "jobid" readonly></h2>
          <input type ="text" placeholder = "Company Name" value = "{{ rows[0][2] }}" name = "companyname">
          <input type ="url" placeholder = "Company URL" value = "{{ rows[0][3] }}" name = "companyurl"><br>
          <input type ="text" placeholder = "Job Title" value = "{{ rows[0][4] }}" name = "jobtitle"><br>
          <select>
            <option value="{{ rows[0][5] }}" disabled selected name = "appliedthrough">Applied through</option>
            <option>Company Page</option>
            <option>Linkedin</option>
            <option>Others</option>
          </select><br>
          <input type ="text" placeholder = "Current Status" value = "{{ rows[0][6] }}" name = "currentstatus"><br>
          <input type ="text" placeholder = "Next Process" value = "{{ rows[0][7] }}" name = "nextprocess"><br>
          <input type="datetime-local" name="nextdate" value = "{{ rows[0][8] }}"><br>
          <input type = "text" placeholder = "Free Note" rows = 2 value = "{{ rows[0][9] }}" name="note" ><br>
          <button type = "submit">Update</button>
        </form>
    </div>
{% endblock %}