<!DOCTYPE html>
<html lang="en">
          <head>
               <meta charset = "utf-8">
               <meta name="viewport" content="initial-scale=1, width=device-width">
               <link href="/static/styles.css" rel="stylesheet">
               <title>Job Hunting Tracker: {% block title %}{% endblock %}</title>
          </head>
          <body>
               <header>
                    <div class = "header">
                         <h1>Job Hunting Tracker
                              {% if session["user_id"] %}
                                   for<font color="#ff595e"> {{ name }} </font>
                              {% endif %}
                         </h1>
                         <nav>
                           <ul>
                             <li><a href="/">Top</a></li>
                             <li><a href="/history">Applying History</a></li>
                             {% if session["user_id"] %}
                                   <li><a href="/logout">Log Out</a></li>
                             {% else %}
                                   <li><a href="/login">Log In</a></li>
                             {% endif %}
                           </ul>
                         </nav>
                         </div>
               </header>
               <main>
               {% block main %}{% endblock %}
               <main></main>
          </body>
</html>